{% load mathfilters %}

{% if model.reporting_kwh %}
    <ul>
        <li>Postcode area average consumption in 2020: {% if annual.postcode_kwh %} {{ annual.postcode_kwh|floatformat:0 }} kWh{% else %}None{% endif %}</li>
        <li>LSOA area average consumption in 2021: {% if annual.lsoa_kwh %} {{ annual.lsoa_kwh|floatformat:0 }} kWh{% else %}None{% endif %}</li>
        <li>Baseline period usage: {{ annual.baseline_kwh|floatformat:0 }} kWh</li>
        <li>Reporting period usage*: {{ model.reporting_kwh|floatformat:0 }} kWh</li>
    </ul>
{% else %}
    <p>No comparative statistics available since reporting period was less than 365 days.</p>
{% endif %}
