{% load mathfilters %}

{% if intensity_figures %}
    <ul>
        <li>Sum for pre intervention:{% if intensity_figures.pre_intervention %}{{ intensity_figures.pre_intervention|floatformat:1 }} kWh/m2/year{% else %}None{% endif %}</li>
        <li>Sum for post intervention:{% if intensity_figures.post_intervention %}{{ intensity_figures.post_intervention|floatformat:1 }} kWh/m2/year{% else %}None{% endif %}</li>
        <li>Sum for CO2/m2/year:{% if intensity_figures.co2_sum %}{{ intensity_figures.co2_sum|floatformat:1 }} CO2/m2/year{% else %}None{% endif %} </li>
    </ul>
{% else %}
    <p>No comparative statistics available since reporting period was less than 365 days.</p>
{% endif %}
