{% load mathfilters %}

{% if model.reporting_kwh %}
    <h4>
        {{ model.co2_saving_kg }}kgCO<sub>2</sub>e
    </h4>
{% else %}
    <p>No comparative statistics available since reporting period was less than 365 days.</p>
{% endif %}
