{% load mathfilters %}

<h2 class="card-title">{{ meter_type }}</h2>
<h4>
    {% if model.reduction > 0 %}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-down-fill text-success" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
        {{ model.reduction|floatformat:2 }} kWh
        ({{ model.reduction_pct|floatformat:2 }}%)
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-up-fill text-danger" viewBox="0 0 16 16">
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
        {{ model.reduction|floatformat:2|abs }} kWh
        ({{ model.reduction_pct|floatformat:2|abs }}%)
    {% endif %}
</h4>
