:root {
    --mainColour: #1b1543;
    --secondaryColour: #271e63;

    --borderColour: #211a53;
    --secondaryborderColour: #fff;

    --mainText: #fff;
    --secondaryText: #1b1543;
    --errorText: red;

    --linkText: rgb(110, 106, 106);

    --themeDotBorder: #fff;

    --previewBg: rgba(110, 110, 110, 0.8);
    --previewShadow: #0a0a0a;

    --buttonColour: #f0f0f0;
}

.twocol {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 2em;
}

body * {
    transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
}

a {
    text-decoration: none;
}

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}
ul {
    list-style: none;
}

.s1 {
    border-bottom: 1px solid var(--borderColour);
}

.s2 {
    border-bottom: 1px solid var(--borderColour);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.description-wrapper {
    display: grid;

    text-align: center;
    align-content: center;
    min-height: 10em;
}
.about-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid aqua;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColour);
    margin-bottom: 50px;
}
.about-wrapper a {
    font-size: 1em;
    color: yellow;
    text-decoration: none;
}
.about-wrapper a:hover {
    color: orange;
}
.card-body h3 {
    color: var(--secondaryText);
}
.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
}
.heading {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 1.5vw;
    text-align: left;
}
.heading2 {
    position: absolute;
    bottom: 20%;
    right: 10%;
    font-size: 1.5vw;
    text-align: left;
}
#form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--secondaryborderColour);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
    color: var(--mainText);
    font-size: 1rem;
}

#form label {
    line-height: 2.5em;
}

.errorlist {
    color: var(--errorText);
    font-size: 1.4rem;
    padding-left: 0;
    text-align: center;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--mainColour);
    background-color: var(--buttonColour);
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
    .errorlist {
        font-size: 1.2rem;
    }
    .banner img {
        max-height: 350px;
        object-fit: cover;
        object-position: 0 12%; /* try 20px 10px */
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        width: 85%;
    }
    .errorlist {
        font-size: 1rem;
    }
    .banner img {
        max-height: 200px;
        object-fit: cover;
        object-position: 0 12%; /* try 20px 10px */
    }
    .heading {
        display: none;
    }
    .heading2 {
        position: absolute;
        top: 60%;
        width: 100%;
        font-size: 1rem;
        text-align: right;
    }
}
