{% extends 'main.html' %}

{% block content %}

    <section class="s1">
        <div class="main-container">
            <div class="description-wrapper">
                <h1>Log In</h1>
            </div>
        </div>
    </section>
    <section class="s2">
        <div class="main-container">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form id="contact-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <label>Username</label>
                {{ form.username }}

                <label>Password</label>
                {{ form.password }}

                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <p>Haven't registered yet?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </section>

{% endblock content %}
