{% extends 'main.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <section class="s1" style="cursor: default; padding-bottom: 1rem;">
        <div class="banner">
            <img src="{% static 'imgs/home/Background_no_text.jpg' %}" class="d-block h-100 w-100" alt"PowerShaper Tracker">
            <h3 class="heading">Generate revenue-grade<br/>energy savings estimates for<br/>home retrofits with smart<br/>meter data only.</h3>
            <h3 class="heading2">Metered Energy Savings from <bold>CarbonCo-op</bold></h3>
            <br/>
        </div>
    </section>
    <section class="s1">
        <div class="about-wrapper main-container">
            <a class="btn" href="{% url 'new-job:start' %}">
                <h2>Click Here To Get Started</h2>
            </a>
        </div>
    </section>
{% endblock content %}
