{% extends 'main.html' %}

{% block title %}History{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="container mt-4 mb-5">
        {% for message in messages %}
            <div class="alert alert-primary {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <h1 class="mb-0">Result</h1>
                <p class="text-muted">
                    Job #{{ job.id }},
                    {% if job.finished_at %}
                        analysis complete, finished at {{ job.finished_at }}
                    {% elif job.started_at %}
                        analysis in progress, started at {{ job.started_at }}
                    {% else %}
                        analysis not yet started, job submitted at {{ job.submitted_at }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="mb-3 twocol">
                    <span>Reference:</span>
                    <span>{{ job.reference }}</span>
                    <span>Postcode:</span>
                    <span>{{ job.postcode }}</span>
                    {% if job.finished_at %}
                        <span>Download hourly:</span>
                        <span><a href="{% url 'download_summed_csv' pk=job.id %}">Aggregrated model data hourly</a></span>
                        <span>Download daily:</span>
                        <span><a href="{% url 'download_summed_csv_daily' pk=job.id %}">Aggregrated model data daily</a></span>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-3 twocol">
                    <span>Baseline period:</span>
                    <span>{{ job.baseline_period.0 }}&mdash;{{ job.baseline_period.1 }}</span>
                    <span>Intervention period:</span>
                    <span>{{ job.intervention_period.0 }}&mdash;{{ job.intervention_period.1 }}</span>
                    <span>Reporting period:</span>
                    <span>{{ job.reporting_period.0 }}&mdash;{{ job.reporting_period.1|default:"?" }}</span>
                </div>
            </div>
        </div>

        {% if job.finished_at %}
            <div class="card bg-dark">
                <h2 class="card-title">Normalised Metered Energy Consumption </h2>
                <div class="row ">
                    <div class="col mb-3">
                        <p>The best fit for you data was the Caltrack {{job.better_fit}} model</p>
                        <details>
                            <summary style="color:aqua;">What do we mean by model fit?</summary>
                            <p style="color:gray;">Model fit in PowerShaper Tracker is measured by CV-RMSE value, or the coefficient of variation of the root mean squared error. This metric is generated by evaluating the difference between the counterfactual baseline and observed consumption in the training period: the lower the CV-RMSE value, the better the model fit.</p>
                        </details>
                    </div>
                    <div class="col mb-3">
                        <label>Show results from:</label>
                        <div class="form-check form-check-inline">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="model" value="hourly" checked id="model-hourly">
                                <label class="form-check-label" for="model-hourly">
                                    hourly model
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="model" value="daily" id="model-daily">
                                <label class="form-check-label" for="model-daily">
                                    daily model
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="hourly-results">
                    <div class="row">
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_head.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.hourly_model %}
                                <div id="hourly-model-elec" style="max-width: 100%"></div>
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_head.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.hourly_model %}
                                <div id="hourly-model-gas" style="max-width: 100%"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="daily-results">
                    <div class="row">
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_head.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.daily_model %}
                                <div id="daily-model-elec" style="max-width: 100%"></div>
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_head.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.daily_model %}
                                <div id="daily-model-gas" style="max-width: 100%"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col mb-3">
                    </div>
                    <div class="col mb-3">
                        <label>Display data by:</label>
                        <div class="form-check form-check-inline">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resolution" value="month" checked id="resolution-month">
                                <label class="form-check-label" for="resolution-month">
                                    month
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resolution" value="day" id="resolution-day">
                                <label class="form-check-label" for="resolution-day">
                                    day
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resolution" value="cumulative" id="resolution-cumulative">
                                <label class="form-check-label" for="resolution-cumulative">
                                    cumulative
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                    </div>
                </div>
                <div id="hourly-results-bottom-card">
                    <div class="row">
                        <h2 class="card-title">Associated Carbon Savings (total reporting period)</h2>
                        <details>
                            <summary style="color:aqua;">How do we calculate CO2 emissions reductions?</summary>
                            <p style="color:gray;">The main climate impact of energy use is from the carbon dioxide emissions associated with combustion for the generation of electricity or heat. In the case of electricity this arises from the burning of coal, gas, biomass or waste in a power station, and as such the carbon emitted for a unit of energy (its carbon intensity) varies according to the mix of generation occurring from hour to hour.<br />For the purposes of benchmarking emissions over a longer period, we use the average figure for carbon intensity specified in the government’s 2021 Standard Assessment Procedure for Energy Rating of Dwellings (<a href="https://files.bregroup.com/SAP/SAP%2010.2%20-%2017-12-2021.pdf">P182, SAP version 10.2 - 17-12-2021</a>), currently 136gCO2/kWh for electricity and 210gCO2/kWh for mains gas.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_carbon_savings.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.hourly_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_carbon_savings.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.hourly_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Uncertainty Metrics</h2>
                        <details>
                            <summary style="color:aqua;">What are uncertainty metrics and how can I interpret them?</summary>
                            <p style="color:gray;">Uncertainty metrics are used to evaluate the uncertainty associated with a particular model. The most common metrics used in measurement and verification are CV-RMSE, NMBE, and R-squared. More detailed info on <a href="{% url 'faq' %}" target="_blank">FAQ page</a>.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_uncertainty_metrics.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.hourly_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_uncertainty_metrics.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.hourly_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Comparitive Data (annual consumption)</h2>
                        <details>
                            <summary style="color:aqua;">About comparative data source and value</summary>
                            <p style="color:gray;">Local and postcode averages are taken from national datasets made available by from the Department of Business, Energy and Industrial Strategy. These raw averages hide significant variation due to factors such as different space and hot water heating systems. These are provided for general comparison and may not represent a good measure of the performance of your home. Local area data is taken from the <a href"https://www.gov.uk/government/statistics/lower-and-middle-super-output-areas-electricity-consumption">2021 Lower Super Output Area (LSOA) dataset</a>. Postcode data is taken from the <a href="https://www.gov.uk/government/statistics/postcode-level-electricity-statistics-2021-experimental">2021 experimental postcode dataset</a>, and is based on your full postcode.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_comparitive_data.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.hourly_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_comparitive_data.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.hourly_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Energy and Carbon Intensity Figures (annual)</h2>
                        <details>
                            <summary style="color:aqua;">About energy and carbon intensity figures</summary>
                            <p style="color:gray;">...</p>
                        </details>
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/_result_card_intensity_figures.html" with intensity_figures=data.hourly_model_if %}
                        </div>
                    </div>
                </div>
                <div id="daily-results-bottom-card">
                    <div class="row">
                        <h2 class="card-title">Associated Carbon Savings (total reporting period)</h2>
                        <details>
                            <summary style="color:aqua;">How do we calculate CO2 emissions reductions?</summary>
                            <p style="color:gray;">The main climate impact of energy use is from the carbon dioxide emissions associated with combustion for the generation of electricity or heat. In the case of electricity this arises from the burning of coal, gas, biomass or waste in a power station, and as such the carbon emitted for a unit of energy (its carbon intensity) varies according to the mix of generation occurring from hour to hour.<br />For the purposes of benchmarking emissions over a longer period, we use the average figure for carbon intensity specified in the government’s 2021 Standard Assessment Procedure for Energy Rating of Dwellings (<a href="https://files.bregroup.com/SAP/SAP%2010.2%20-%2017-12-2021.pdf">P182, SAP version 10.2 - 17-12-2021</a>), currently 136gCO2/kWh for electricity and 210gCO2/kWh for mains gas.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_carbon_savings.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.daily_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_carbon_savings.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.daily_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Uncertainty Metrics</h2>
                        <details>
                            <summary style="color:aqua;">What are uncertainty metrics and how can I interpret them?</summary>
                            <p style="color:gray;">Uncertainty metrics are used to evaluate the uncertainty associated with a particular model. The most common metrics used in measurement and verification are CV-RMSE, NMBE, and R-squared. More detailed info on <a href="{% url 'faq' %}" target="_blank">FAQ page</a>.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_uncertainty_metrics.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.daily_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_uncertainty_metrics.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.daily_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Comparitive Data (annual consumption)</h2>
                        <details>
                            <summary style="color:aqua;">About comparative data source and value</summary>
                            <p style="color:gray;">Local and postcode averages are taken from national datasets made available by from the Department of Business, Energy and Industrial Strategy. These raw averages hide significant variation due to factors such as different space and hot water heating systems. These are provided for general comparison and may not represent a good measure of the performance of your home. Local area data is taken from the <a href"https://www.gov.uk/government/statistics/lower-and-middle-super-output-areas-electricity-consumption">2021 Lower Super Output Area (LSOA) dataset</a>. Postcode data is taken from the <a href="https://www.gov.uk/government/statistics/postcode-level-electricity-statistics-2021-experimental">2021 experimental postcode dataset</a>, and is based on your full postcode.</p>
                        </details>
                        {% if data.electricity %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_comparitive_data.html" with meter_type="Electricity" annual=data.electricity.annual model=data.electricity.daily_model %}
                            </div>
                        {% endif %}

                        {% if data.gas %}
                            <div class="col-12 col-md-6">
                                {% include "base/result_card/_result_card_comparitive_data.html" with meter_type="Gas" annual=data.gas.annual model=data.gas.daily_model %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <h2 class="card-title">Energy and Carbon Intensity Figures (annual)</h2>
                        <details>
                            <summary style="color:aqua;">About energy and carbon intensity figures</summary>
                            <p style="color:gray;">hi</p>
                        </details>
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/_result_card_intensity_figures.html" with intensity_figures=data.daily_model_if %}
                        </div>
                    </div>
                </div>
            </div>




        {% endif %}
    </div>

    {{ data.electricity.hourly_model.monthly_figures|json_script:"elec-hourly-by-month" }}
    {{ data.electricity.hourly_model.daily_figures|json_script:"elec-hourly-by-day" }}
    {{ data.electricity.hourly_model.cumulative_figures|json_script:"elec-hourly-by-cumulative" }}

    {{ data.electricity.daily_model.monthly_figures|json_script:"elec-daily-by-month" }}
    {{ data.electricity.daily_model.daily_figures|json_script:"elec-daily-by-day" }}
    {{ data.electricity.daily_model.cumulative_figures|json_script:"elec-daily-by-cumulative" }}

    {{ data.gas.hourly_model.monthly_figures|json_script:"gas-hourly-by-month" }}
    {{ data.gas.hourly_model.daily_figures|json_script:"gas-hourly-by-day" }}
    {{ data.gas.hourly_model.cumulative_figures|json_script:"gas-hourly-by-cumulative" }}

    {{ data.gas.daily_model.monthly_figures|json_script:"gas-daily-by-month" }}
    {{ data.gas.daily_model.daily_figures|json_script:"gas-daily-by-day" }}
    {{ data.gas.daily_model.cumulative_figures|json_script:"gas-daily-by-cumulative" }}

    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});

        function drawChart(type, sourceDataId, chartElementId) {
            const sourceData = JSON.parse(
                document.getElementById(sourceDataId).textContent
            );

            if (sourceData === "") {
                // No data; forget it.
                return;
            }

            const dataTable = new google.visualization.DataTable();
            if (type === 'monthly') {
                dataTable.addColumn('string', 'Date');
            } else {
                dataTable.addColumn('date', 'Date');
            }
            dataTable.addColumn('number', "Observed use");
            dataTable.addColumn('number', "Counterfactual usage");
            dataTable.addColumn('number', "Metered savings");

            dataTable.addRows(
                sourceData.map(row => [
                    type === 'monthly'
                    ? `${row.date.month}/${row.date.year}`
                    : new Date(row.date.year, row.date.month - 1, row.date.day),
                    row.observed,
                    row.counterfactual,
                    row.savings
                ])
            );
            const chart = new google.visualization.LineChart(
                document.getElementById(chartElementId)
            );
            chart.draw(dataTable, {
                vAxis: { title: 'kWh' },
                legend: {position: 'top', textStyle: {fontSize: 9}}
            });

            return chart;
        }

        function redraw() {
            const modelType = document.querySelector("[name=model]:checked").value
            switch (modelType) {
                case "hourly":
                    document.getElementById("hourly-results").style.display = "block";
                    document.getElementById("hourly-results-bottom-card").style.display = "block";
                    document.getElementById("daily-results").style.display = "none";
                    document.getElementById("daily-results-bottom-card").style.display = "none";
                    break;
                case "daily":
                    document.getElementById("hourly-results").style.display = "none";
                    document.getElementById("hourly-results-bottom-card").style.display = "none";
                    document.getElementById("daily-results").style.display = "block";
                    document.getElementById("daily-results-bottom-card").style.display = "block";
                    break;
            }

            const resolution = document.querySelector("[name=resolution]:checked").value
            drawChart('monthly', `elec-${modelType}-by-${resolution}`, `${modelType}-model-elec`);
            drawChart('monthly', `gas-${modelType}-by-${resolution}`, `${modelType}-model-gas`);
        }

        google.charts.setOnLoadCallback(redraw);

        const inputs = ["model-hourly", "model-daily", "resolution-day", "resolution-month", "resolution-cumulative"]
        for (let input of inputs) {
            document.getElementById(input).addEventListener('change', redraw);
        }
    </script>
{% endblock %}
