{% extends 'main.html' %}

{% block title %}Settings{% endblock %}
{% block content %}

    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-9 col">
                <h1>PowerShaper Monitor API key</h1>

                <p>If you are a PowerShaper Monitor user, PowerShaper Tracker can get data directly from PowerShaper Monitor.</p>

                <p>To do this you will need to find your API key <a href="https://app.powershaper.io/meters/settings/" target="_blank">on the PowerShaper Monitor settings page</a> (link opens in new window), paste it in the form below, and click "Save".</p>

                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    {% if valid_key %}
                        <p>✅ Great, we have a valid token. You can proceed to <a href="{% url 'new-job:start' %}">analyse data</a>.</p>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
