{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="import/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Import">
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
