{% load static %}

<footer class="bg-dark text-muted" style="margin-top: 10rem">
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <p>
                    <b>Questions?</b><br />
                    <a href="{% url 'faq' %}">FAQ</a><br />
                    <a href="mailto:support@carbon.coop">support@carbon.coop</a><br />
                    <a href="tel:+441618201273">0161 820 1273</a>
                </p>
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <p>
                    <b>Our other sites</b><br>
                    <a href="https://flex.powershaper.io">PowerShaper Flex</a>: our domestic flexibility pilot project<br>
                    <a href="https://powershaper.io">PowerShaper Monitor</a>: access smart meter data<br>
                </p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <b>Powered by</b><br>
                <img src="/static/imgs/footer/carbon-co-op.png" height="50">
                <img src="/static/imgs/footer/ukri-innovate-uk.png" height="50" class="mx-4 mb-2">
                <br />
                <img src="/static/imgs/footer/caltrack.png" height="50">
                <img src="/static/imgs/footer/copernicus.png" height="50" class="mx-4 mb-2">
            </div>
            <div class="col">
                <p>
                    <b>Weather data attribution:</b><br>
                    Generated using weather data from the Copernicus Climate Change Service in accordance with the <a href="https://cds.climate.copernicus.eu/cdsapp/#!/terms/licence-to-use-copernicus-products">CDS licence</a>. This weather data has been adapted for the purposes of PowerShaper Tracker but is and will remain the property of the European Union and the Copernicus programme.
                </p>
            </div>
        </div>
    </div>
</footer>
