<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <title>{% block title %} {% endblock %} | PowerShaper Tracker</title>
        <link rel="icon" href="{% static 'imgs/logo_icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />
        <link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet" />
        <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body style="background-color: var(--mainColour); color: var(--mainText);">

        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}

        {% include 'footer.html' %}
    </body>
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}" />
</html>
