{% extends 'main.html' %}

{% block title %}Select Meter{% endblock %}
{% block content %}

    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-9 col">
                <h1>Select meter</h1>

                {% if error == "no overlap" %}
                    <div class="alert alert-danger">The meters you have selected do not have any dates in common. Please select meters that have some overlap in data availability.</div>
                {% elif error == "not enough overlap" %}
                    <div class="alert alert-danger">The meters you have selected have a date overlap of less than 366 days, which means there is not enough data to produce a baseline. Please select meters that have more than 365 days of overlap in data availability.</div>
                {% endif %}

                {% if different_postcodes and not error %}
                    <div class="alert alert-info">You have selected meters with different postcodes. Only one postcode will be used for weather data.</div>
                {% endif %}

                {% if selected_meters|length == 0 %}
                    <div class="alert alert-info">Please select a meter to continue.</div>
                {% else %}
                    <p class="mb-2">
                        <b>
                            {{ selected_meters | length }} meter{{ selected_meters | length | pluralize }} currently selected.</b><br>

                        {% if common_range %}
                            Common date range: {{ common_range.earliest }} – {{ common_range.latest }}
                        {% endif %}
                    </p>
                    <div class="mb-4">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="continue" value="">
                            <button class="btn btn-success" {% if error %}disabled{% endif %}>Continue</button>
                        </form>
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="filter" class="form-label">Filter</label>
                    <input type="text" value="" id="filter" class="form-control" autocomplete="off" />
                </div>

                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th>MPAN</th>
                            <th>Data range</th>
                            <th>Postcode</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in selected_meters %}
                            <tr>
                                <td style="font-variant-numeric: tabular-nums;">xxxx{{ data.last_four_digits }}</td>
                                <td>
                                    {{ data.range.earliest }} – {{ data.range.latest }}
                                </td>
                                <td>{{ data.postcode }}</td>
                                <td>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="deselect-meter" value="{{ data.uuid }}">
                                        <button class="btn btn-danger" type="submit">Deselect</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for data in unselected_meters %}
                            <tr>
                                <td style="font-variant-numeric: tabular-nums;">xxxx{{ data.last_four_digits }}</td>
                                <td>
                                    {{ data.range.earliest }} – {{ data.range.latest }}
                                </td>
                                <td>{{ data.postcode }}</td>
                                <td>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="select-meter" value="{{ data.uuid }}">
                                        <button class="btn btn-primary" type="submit">Select</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function runFilter(evt) {
            if (evt.key === "Enter") {
                evt.preventDefault();
            }

            const q = document.querySelector("#filter").value.toLowerCase()
            const rowsToFilter = document.querySelectorAll("tbody tr");
            for (let label of rowsToFilter) {
                if (label.textContent.toLowerCase().includes(q)) {
                    label.classList.remove("d-none");
                } else {
                    label.classList.add("d-none");
                }
            }

        }

        // Run on document init in case the filter text field already has text
        // input (i.e. the page has been refeshed while there was already text
        // in the field)
        runFilter({ key: "none" });
        document.querySelector("#filter").addEventListener("input", runFilter);
    </script>
{% endblock %}
